.root {
    -fx-background-color: #f5f5f5;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

.button {
    -fx-font-size: 12px;
    -fx-padding: 10px 20px;
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.text-about {
    -fx-font-size: 12px;
}

.button:hover {
    -fx-background-color: #005fa3;
}

.text-field {
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
}

.text-area {
    -fx-font-family: "Consolas", "Courier New", monospace;
    -fx-font-size: 13px;
    -fx-text-fill: #006600;
    -fx-background-color: #e9ffe9;
    -fx-border-color: #cccccc;
}
